@import '../../styles/mixins';

.tableContainer {
    @include size;
    padding: 2rem;
    border-radius: 12px;
    
    .tableWrapper {
        @include size;
        border-radius: 8px;
        min-height: 550px;
        @include flexAlignment(column, flex-start);
        .pagination {
            margin-top: auto;
            @include size(100%);
            @include flexAlignment(row, flex-end);
            padding: 1rem;
        }
    }

    .tableRow {
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #f1f1f1;
        }
    }

    .topBar {
        @include flexAlignment(row, space-between);
        margin-bottom: 16px;
        width: 100%;

        .searchButton {
            margin-left: 8px;
            background-color: #007bff;
            color: white;
            font-weight: bold;

            &:hover {
                background-color: #0056b3;
            }
        }

        .newButton {
            background-color: #4caf50;
            color: white;

            &:hover {
                background-color: #45a049;
            }
        }
    }

    .actionButton {
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

}
